[user]
	email = YOUR-EMAIL-HERE
	name = YOUR-NAME-HERE
[credential]
	helper = osxkeychain
[core]
	editor = atom
	autocrlf = input
[alias]
    # some from http://haacked.com/archive/2014/07/28/github-flow-aliases/
	cd = checkout
	cdd = checkout develop
	cdm = checkout master
	new = checkout -b
	newf = !git checkout -b feature/$@ && git branch --set-upstream-to=origin/feature/$@ feature/$@
	fp = !git fetch && git pull

	# branch & tags
	ls = branch
	lsr = branch --remote
	lst = describe --tags
	lsrt = ls-remote --tags

	# modify
	s = status
	a = !git add . && git status
	cm = commit -m
	acm = git commit -am
	up = push
	get = pull
	rbi = rebase -i
	cp = cherry-pick

	# config
	url = ls-remote --get-url
	cfg = config --global -e

	# clean
	undo = reset --hard origin
	undom = reset --hard origin/master
	del = branch -d
	delete = branch -d
	rm = branch -d
	delr = !git push origin --delete $@
	prune = fetch --prune

	# logging
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	lg = log --color --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold green)%d%Creset %s %C(bold green)(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	llg = log --color --graph --pretty=format:'%C(bold white)%H %d%Creset%n%s%n%+b%C(bold blue)%an <%ae>%Creset %C(bold green)%cr (%ci)' --abbrev-commit
	df = diff
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort



	# https://github.com/nvie/gitflow/wiki/Command-Line-Arguments
	feature-start = !git flow feature start -F $@ && git flow feature publish
	feature-end = flow feature finish -FDS
	feature-end-keep = flow feature finish -Frk
	feature-publish = flow feature publish
	feature-rebase = flow feature rebase

	release-start = !git flow release start -F $@ && git flow release publish
	release-publish = flow release publish
	release-rebase = flow release rebase
	release-end = flow release finish -Fpn
	release-end-keep = flow release finish -Frk

	hotfix-start = !git flow hotfix start -F $1 && git flow hotfix publish
	hotfix-tag-start = !git checkout tags/v$1 -b v$1 && git flow hotfix start -F $1 v$1 && git flow hotfix publish
	hotfix-publish = flow hotfix publish
	hotfix-end = flow hotfix finish -Fpn

	start = "!gffs() { git flow feature start ${1}; }; gffs"
	finish = "!gfff() { git flow feature finish -F $(git-flow-current-branch); gfff}"
	hotfix = "!gfhs() { git flow hotfix start $1; }; gfhs"
	hotfix-finish = "!gfhf() { git fetch --tags; git pull origin master; git flow hotfix finish -F $(git-flow-current-branch); }; gfhf"

[diff]
  	tool = wstorm
[difftool]
  	prompt = false
[difftool.wstorm]
  	cmd = /usr/local/bin/wstorm diff "$LOCAL" "$REMOTE"
[merge]
  	tool = wstorm
[mergetool.wstorm]
  	cmd = /usr/local/bin/wstorm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[push]
  	followTags = true
